$rem: 37.5px;
$defaultFamily: 'Microsoft Yahei','arial','Arial Narrow','HELVETICA','Tahoma';
// $root: '';
$root: '/nday/dist';

$operate_back: 'http://sl-cdn.hingyin.com/o_1br8ps522qummosbjr1irc1dh7.png';
$operate_bg: 'http://sl-cdn.hingyin.com/o_1br8pu4i3jlm1bvl1hlm19qt168uc.png';
$operate_hand: 'http://sl-cdn.hingyin.com/o_1br8pvkht1697lte17ktljf1g4uh.png';
$operate_hoverLighter: 'http://sl-cdn.hingyin.com/o_1br8q0ksp16vo1jc81r3v47sbnom.png';
$operate_next: 'http://sl-cdn.hingyin.com/o_1br8v6ktp15k780v128t3n51lgu10.png';
$operate_text0: 'http://sl-cdn.hingyin.com/o_1br8q2e3e445e9b13j71cmfeus10.png';
$operate_text1: 'http://sl-cdn.hingyin.com/o_1br8q36pe1fltn5s1j3jfr3192t15.png';