$country_tip1: 'http://sl-cdn.hingyin.com/o_1br79psrus0qrkr1d5jjqkjcc7.png';
$country_tip2: 'http://sl-cdn.hingyin.com/o_1br79slp7ecdr7h18q61h6bn70c.png';
$country_plane: 'http://sl-cdn.hingyin.com/o_1br7a550314in8p74s91kqr1g2qh.png';
$country_door: 'http://sl-cdn.hingyin.com/o_1br7afaj0mes1aagc0tg1458m.png';
$country_flag: 'http://sl-cdn.hingyin.com/o_1br7ahogp1go1ip31lr6sh31j29r.png';
$country_crowd: 'http://sl-cdn.hingyin.com/o_1br7b9d2u1ar6qau13os2dk4g21a.png';
$country_land: 'http://sl-cdn.hingyin.com/o_1br7amkgpdmnua2kmrc4gr1f7.png';
$country_role0: 'http://sl-cdn.hingyin.com/o_1br7aq8um1b951fco10na1um51e90c.png';
$country_role0part: 'http://sl-cdn.hingyin.com/o_1br7arbcsau3f4um3i1jb01befh.png';
$country_role1: 'http://sl-cdn.hingyin.com/o_1br7as5ir13n61f0l1un8124g18n3m.png';
$country_role1part: 'http://sl-cdn.hingyin.com/o_1br7assfe19ur1p9p1l2dl0tfqer.png';
$country_role2: 'http://sl-cdn.hingyin.com/o_1br7atinfmlr2l01uga18grlbl10.png';
$country_sky: 'http://sl-cdn.hingyin.com/o_1br7auefq5kh1jk3178g11p91etv15.png';
$country_cane: 'http://sl-cdn.hingyin.com/o_1br8hk82u1gnc7n71qnuspmmhh7.png';
$country_rect: 'http://sl-cdn.hingyin.com/o_1br8tvofp1723p24h4md1u8r7.png';

$lighterFiger: 'http://sl-cdn.hingyin.com/o_1br7bjl19rr360d14cbtej1i6h1k.png';
$lighterHand: 'http://sl-cdn.hingyin.com/o_1br7blt9v1fr11303nnucdq1m3f1p.png';