$mao_rect: 'http://sl-cdn.hingyin.com/o_1br8ufu6b1bi013pb17tri3spdsr.png';
$mao_crowd: 'http://sl-cdn.hingyin.com/o_1br9ard7c1dnoi791fnb1p8j15gm7.png';
$mao_flag: 'http://sl-cdn.hingyin.com/o_1br9av8hf1k1ka00ueg1et0uf7c.png';
$mao_mike: 'http://sl-cdn.hingyin.com/o_1br9b0bc2a9012t813csf2fm1th.png';
$mao_mountain: 'http://sl-cdn.hingyin.com/o_1br9b10uk1hgscd81ovi1h5719s0m.png';
$mao_paper: 'http://sl-cdn.hingyin.com/o_1br9b1u4b4pgq7ieeq2bm1oaor.png';
$mao_role0: 'http://sl-cdn.hingyin.com/o_1br9b2kcq1lid1tfhu0q1msh6om10.png';
$mao_role0part: 'http://sl-cdn.hingyin.com/o_1br9b3aam12vp1atvqr83g2q5615.png';
$mao_sky: 'http://sl-cdn.hingyin.com/o_1br9b3uk21s4t5kh19tc3nk1tgi1a.png';
$mao_text0: 'http://sl-cdn.hingyin.com/o_1br9b4vo61d12qa81798150g4c51f.png';
$mao_text1: 'http://sl-cdn.hingyin.com/o_1br9b5ste1p4p1mvu4lsuft1kgd1k.png';
$mao_text2: 'http://sl-cdn.hingyin.com/o_1br9b6nha1st8bek1d2qcf4v1p1p.png';