$meeting_rect: 'http://sl-cdn.hingyin.com/o_1br8u4t8b15qb1doapid1opmprsm.png';
$meeting_crowd: 'http://sl-cdn.hingyin.com/o_1br98q21kktlikk4vu1h2l10rt7.png';
$meeting_dragPart: 'http://sl-cdn.hingyin.com/o_1br98qsur3netd9q4quc71dj2c.png';
$meeting_drag: 'http://sl-cdn.hingyin.com/o_1br98ropk3efacq12l611th1n8h.png';
$meeting_flag: 'http://sl-cdn.hingyin.com/o_1br98shlq1od9fdnkio1rtc844m.png';
$meeting_land: 'http://sl-cdn.hingyin.com/o_1br98t7m71micmq2521b551u9vr.png';
$meeting_plane: 'http://sl-cdn.hingyin.com/o_1br98u1vbl3m1r4g13c2u21d8s15.png';
$meeting_role0: 'http://sl-cdn.hingyin.com/o_1br98ukaip8i1otpm1fhpu15pd1a.png';
$meeting_role1: 'http://sl-cdn.hingyin.com/o_1br98v7rr5dm1m3gd5p137210tk1f.png';
$meeting_role1part: 'http://sl-cdn.hingyin.com/o_1br98vtq8162q1b301hlru31du81k.png';
$meeting_sky: 'http://sl-cdn.hingyin.com/o_1br99391nrk0c2b16pp1oml1e231p.png';
$meeting_stone: 'http://sl-cdn.hingyin.com/o_1br9944lg1ism1fjic41d0e1qu81u.png';
$meeting_text0: 'http://sl-cdn.hingyin.com/o_1br9951nk14ru5e51pvh1ulu1a7k28.png';
$meeting_text1: 'http://sl-cdn.hingyin.com/o_1br995qn9o2id2d1eak18c31mgq2d.png';
$meeting_text2: 'http://sl-cdn.hingyin.com/o_1br996cue1ctk2gf2m4mn19q72i.png';
