$party_rect: 'http://sl-cdn.hingyin.com/o_1br8u1v701qv611671eap1tsg1nldc.png';
$party_boat: 'http://sl-cdn.hingyin.com/o_1br8smdlsc5s1qholivn6g7j7.png';
$party_crowd: 'http://sl-cdn.hingyin.com/o_1br8so3e11phjcklvqdq36vcc.png';
$party_fan: 'http://sl-cdn.hingyin.com/o_1br8spcopehp12rc14661hmd4j1h.png';
$party_house: 'http://sl-cdn.hingyin.com/o_1br8sq0r41u1s1uac1vfv4c2i7um.png';
$party_land: 'http://sl-cdn.hingyin.com/o_1br8sqor1bcv11968rc1uursicr.png';
$party_sky: 'http://sl-cdn.hingyin.com/o_1br8stuih19lrkum1uf01qdh1nng10.png';
$party_people0: 'http://sl-cdn.hingyin.com/o_1br90m7qnpc11h56121ov23d4m7.png';
$party_people1: 'http://sl-cdn.hingyin.com/o_1br90n9iu1kcgm50bkrucpun6c.png';
$party_plane: 'http://sl-cdn.hingyin.com/o_1br90o080mm41c0f6291v5a193ph.png';
$party_role0: 'http://sl-cdn.hingyin.com/o_1br90ojq4nb91sabmjvqb547am.png';
$party_role1: 'http://sl-cdn.hingyin.com/o_1br90q8mrpcj16fr8501jg71uqr.png';
$party_text0: 'http://sl-cdn.hingyin.com/o_1br90qv9hm7k1am0pbq1q28t1910.png';
$party_text1: 'http://sl-cdn.hingyin.com/o_1br90ro8akdc6k8i0hntr1gqi15.png';
$party_text2: 'http://sl-cdn.hingyin.com/o_1br90snrv173d1vo3140e01s7a1a.png';




