$soldier_rect: 'http://sl-cdn.hingyin.com/o_1br8u3g5c8ld19dadhoa3vd5rh.png';
$soldier_crowd: 'http://sl-cdn.hingyin.com/o_1br972f6i1lne1r9gp9b1jv916s67.png';
$soldier_flag: 'http://sl-cdn.hingyin.com/o_1br973tmsqkgatb4lssq13n1c.png';
$soldier_gress0: 'http://sl-cdn.hingyin.com/o_1br974nfj17qi1ktofiugiltllh.png';
$soldier_gress1: 'http://sl-cdn.hingyin.com/o_1br975h2po501fpukdv1hh5gfkm.png';
$soldier_mountain: 'http://sl-cdn.hingyin.com/o_1br9767qvboc1o941ig011016qir.png';
$soldier_role0: 'http://sl-cdn.hingyin.com/o_1br9773pi17b5rt11j66ir1ui110.png';
$soldier_role0part: 'http://sl-cdn.hingyin.com/o_1br977pk91qdrfkc1ja5vkvqna15.png';
$soldier_role0part0: 'http://sl-cdn.hingyin.com/o_1br978q7ng44mi1vl31i9j5np1a.png';
$soldier_sky: 'http://sl-cdn.hingyin.com/o_1br979epcneo94a1tu91m501l6h1f.png';
$soldier_text0: 'http://sl-cdn.hingyin.com/o_1br97a8j6hir5m01bsakfr11mi1k.png';
$soldier_text1: 'http://sl-cdn.hingyin.com/o_1br97b1bm46his3lsf1ctta881p.png';
$soldier_text2: 'http://sl-cdn.hingyin.com/o_1br97bkku1i0512gh1lrqkk11b91u.png';