#app{
  &>.route{ 
    &{ position: absolute;top: 0;right: 0;bottom: 0;left: 0;box-shadow: 0 0 3px rgb(180, 180, 180); }
    &.animated{ animation-duration: 0.6s; }
  }
}
.no-bgimg{ background: none !important; }